[submodule "libs/luajitlib/LuaJIT"]
	path = libs/luajitlib/LuaJIT
	url = https://github.com/LuaJIT/LuaJIT.git
[submodule "libs/luajitlib/cmake"]
	path = libs/luajitlib/cmake
	url = https://github.com/scikit-build/cmake-FindVcvars.git
